<div class="col-md-6 offset-md-3 mt-5">

  <div class="card">
    <h4 class="card-header" >Dodajte akciju na tenderu</h4>

    <div class="card-body">
      <form [formGroup]="createTenderOfferForm">

        <div class="form-group">
          <label for="code">Sifra</label>
          <input type="text" formControlName="code" class="form-control" required>
        </div>

        <table>
          <th>
            <button class="btn btn-primary" (click)="createOffer()">
              Dodaj
            </button>
          </th>
          <th>
            <button class="btn btn-danger" (click)="goBack()" >
              Nazad
            </button>
          </th>

        </table>

      </form>
    </div>
  </div>


</div>




